body {
	background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEVxCXJSPvJKC1l8k8KU3rw-GRLveI927Mob8e3oiWTDqIEqWhUxcsWGBcYOGPubDluyEO4iBGb14zqUo0fwsfdI7pgiTGxgmdB7E97Mzs-KnAlo6bK2nfLZ35NHY110OVZkF-hUTn2PodV1e-AzwfzIdsO-rfWFX3hTu5H4lZjIjmgLXZBj2P3XquBEd2tpgeuEH3gtCNfYt__UtHy5xT-pGfiXSXBu-nzwzPcwQxVz-qK7upW1k6wDHBVI_hfmed1xvmISi58UANStfe9WklzWJjKhDF2EPEhefcRuX6FoFlNI1m3OoSIzk1e-JLywPpUVVhlPDrkh85YAafQUPl9E9pZQU3svxb90iekpUlaafXeuE15XMH4k2K6_NiuONOO5w_YcTiIvqr4bMbGHsSieA8SbdOr7yYclMeEzJZGjgQ_K1DB85--IYrN9L7RxW1nVg2U3HCA142kvpeXbfkgTkuRyW1ZT35T4Wj8qTlonqP1Z0E3dB7Ms3KbtiALaXnAz7ShWQpoS1lPmR_oSF2nkiiihFneYERxinzGxdgYhiWmnX0ZK2v3CdcA2m2eJPSXwYxWKtyMtAyntwZ61VJvuxHwX7b6yl_HPLiPcnspIwBI2XdVGRJGJSpkqzg3x0JLZ4tm7g2SZqBU9MPtrC2qY4xinBgK6f8uxAYqAtqC18qENrzQ7IKsPvcN2VA44Z1jdxIxM2chnomCW1zBe_zjl9gAXrAAXkU17QnPxJynzDvOOMm9danQq72-aFEwrVonOmn9exBNMQDlp6hfH9a0B6rtatTgD55W8At7hrN1-G0sioNHPs7ljkghSpUMZCnwyCKIPGEgzRLrQqeg2gd6LovSRCY7NeVJFmMR0WBPIKOmBfYOFeLviVZmQQxicS4pwPo724glN=w800-h533-no?authuser=0");
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	max-width: 800px;
	margin: auto;
}	

.beer-img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	box-shadow: 5px 5px 20px #605969;
}

.beer-img:hover {
	opacity: 50%;
	transition: 1s;
	cursor: none;
}



#home-pic {
	border-radius: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 20px #c552b4;
}


#overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #da9c2a;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 1s ease;
	cursor: none;
  }

#home-pic:hover + #overlay {
	width: 100%;
}


#text {
  color: white;
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#random-beer-button {
	padding:10px;
	background-color: #da9c2a;
	box-shadow: 3px 3px 20px #a7a21d;
	color: white;
	font-size: 25px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-color: white;
	border-radius: 12px;
	opacity: 90%;
	cursor: pointer;
	transition-duration: .2s;
}

#random-beer-button:hover {
	background-color: rgb(230, 135, 63) ;
	transition: 2.5s;
}

#note-select-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 50%;
	padding: 10px;
	justify-content: center;
	align-items: center;
	
}

#note-select {
	border-width: 3px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	border-radius: 12px;
	background-image: linear-gradient(-45deg, #319699,#9049ed, #27929e, #c552b4, #b762d9);
	box-shadow: 3px 3px 20px #6069d7;
	color: white;
	font-size: 30px;
	cursor: pointer;
	animation: 12s myGradient infinite;
}

#note-select:hover {
	background-color: #e391e3;

}

.opt {
background-color: #4ec1d0;
opacity: 50%;
}

#submit {
	padding: 10px;
	background-color: #605969;
	opacity: 80%;
	border-color: white;
	color: white;
	border-radius: 12px;
	box-shadow: 5px 5px 40px  #9049ed;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	cursor: pointer;
}

#submit:hover {
	background-color: #9049ed;
	transition: 1s;
}

#random-beer-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 50%;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

#grid-container {
font-size: 25px;
height: 800px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;
}


.entry-div {
	padding: 40px;
	text-align: center;
	font-family:'Times New Roman', Times, serif;
}


.note-div {
	align-items: center;
}

.entry-img {
	height: 150px;
}

#entries-container {
	border: 25px;
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 18px;
}

#new-entry {
	display: inline;
	float: left;
	/* position:sticky; */
	top: 0%;
}

#field {
background-image: url("https://lh3.googleusercontent.com/5eoe3LQ4pTYLBMLCQenztIXP75QuRPQGcoA7DZTSqWmfwXHdNiVKZvVmpZc8K9TdXqjjcYkeeERCCmlllYF6MiAP-qu952Cu8K9iHs7u6qv9v0pqGlqlt_89_jB61HSzYHun9e70rVocKlsokX51X7OH58jPtom9MIG_z75Az3rtrbkyxjOKIEseotn1ZQL1HROMptZBRxzDgkzA5S0P4MeRmUfk8gzHpkuKYtYaSBbyamMf4rAE3szHwHLHzHnC4EPaLz3tmRljwtAD2dORI86T69QGojqRT_KrDEGTDDHzcYBN2cAwQjAI4no5pT-fXlQAabRRwxxDHR7cdFtDVmlUSJb2WvJd-j4Wx26eoRaxS_XoSyIYnWh0M61k1t1xxRdXpQb_2GzOMyVmSJq9UM2LRckezL8NrklmoxuV1ZqGPippiU4dOqG6q82lKdJO4_yyPgOuN9YBxAQBKU_5EIrzHuHCYeWihcRB8kqOCu7Ufqe8VI-lXqNFCcLHdHESOryUE74uzzdAC-uUprmrgGIyiQmUOm7KJNWZneHUJRwcMt9ENIINUTeyZ5K0lb1pM04LYW-90nqoyJfz1qq7tV3mCG0RUVSAg37wn7SkrIAy4TtIzLsF3AESxT39uKNFfotHull4JSMxCE09yhxpF0-qWjnx-zySiDOFzbyUHBltl-GIKFwAJhVWYiKkKqFqaSx1IDdTK_rfGKQ79lzR7NXTzqQzB_7xRi-uRXBEHs-6MMTc9mLFZ_l1Y_7RS9RHK-TCt3VHRiZSiVd1CtmeBe_HtLUNc83FKokMsmfXOzZA7QkAGcdMJWzEMd3MhA37_H9ApB0I6XSDvDjPE3qwWRtcsqRTrQkMCILmUV8F805-5De_VrcbqSHBXt9l6tPraRKAQDeQJYJgb0FRATyvO-eHHgamtr1OrAI=w812-h1218-no?authuser=0");
background-position: bottom left;
padding-right: 50px;
height: 300px;
width: 100px;
justify-content: left;
}

.input {
	background-color: #a49ab2;
	box-shadow: 2px 2px 4px white;
}

#submit-button {
	font-size: 20px;
	background: black;
	box-shadow: white;
	border: none;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-radius: 12%;

}

#submit-button:hover {
  color: #fff;
  background-color: gray;
  opacity: 50%;
  animation: 2.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 5s;
  cursor: pointer;
}

#style-select {
	background-color: #a49ab2;
	box-shadow: 2px 2px 4px white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
}


ul {
  list-style-type: none;
  display: flex;
  padding: 18px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
  animation: 12s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px #ff3352;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@keyframes myGradient {
	0% {
	  background-position: 0% 50%;
	}
	
	50%{
	  background-position: 100% 50%;
	}
	
	100% {
	  background-position: 0% 50%;
	}
  }

.active {
  transition: 1s;
}

.active1{
  transition: 1s;
}

.active2 {
  transition: 1s;
}

.active3 {
  transition: 1s;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 45px 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.navigation {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;

}

.text-content-fluid {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
  }

.active3:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
  margin-top: -100px;
}

.active2:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active1:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

@keyframes myFlash {
  0% {
    opacity: 1;
    text-shadow: transparent;
  }
  
  50% {
    opacity: .1;
  }
  
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fff;
  }
}


@keyframes myBackground {
  0% {
    background-position: 0% 50%;
    opacity: 0%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
    opacity: 1;
  }
}


@keyframes myLinear {
  0%{
    width: 50px;
  }
  
  100% {
    width: 250px;
  }
}


.Active {
  transition: 2s;
  margin-top: 1px;
}